---
layout: default
title: Home
notitle: true

role_groups:
    - [faculty, postdoc]
    - [grad, intern]
    - [postdoc-alum, alum]

role_remain:
    - [intern-alum, ugrad-alum]

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, visitor]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
  - roles: [intern]
    width: 8
    image: true
- - roles: [postdoc-alum]
    width: 4
    image: true
  - roles: [alum]
    width: 4
    image: true
  - roles: [ra-alum]
    width: 4
    image: true
  - roles: [intern-alum]
    width: 6
    image: false
  - roles: [ugrad-alum]
    width: 6
    image: false
---

<div class="jumbotron">
    <p>
        This is the <b>MPI Software Security group</b> lead by Dr <a href="https://mboehme.github.io">Marcel B&ouml;hme</a> at the Max Planck Institute for Security and Privacy (MPI-SP) in Germany.
        We are interested in the automatic discovery of security flaws in software systems at the very large scale.
        Some of us work on the foundations of automatic vulnerability discovery and program analysis in general.
        For instance, we seek to identify fundamental limitations of existing techniques, we study empirical methods
        (incl. statistical and causal reasoning) for program analysis, and we explore the assurances that software testing provides when no bugs are found.
        Another part of our group develops practical vulnerability discovery tools that are widely used in software security practice.
        For instance, Entropic is the default power schedule in LibFuzzer which powers the largest fuzzing platforms at Google and Microsoft,
        fuzzing hundreds of security-critical projects on 100k machines 24/7. Our tools have discovered 100+ bugs in widely-used software systems,
        more than 70 of which are security-critical vulnerabilities registered as CVEs at the US National Vulnerability Database.
    </p>
</div>

<!--section-->
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
        {% assign numposts = site.posts | size %}
        {% if numposts >= 1 %}
        <li>
            <span class="fa fa-fw fa-history"></span>
            <span class="text"><a href="{{ site.base }}/oldnews">Older news&hellip;</a></span>
        </li>
        {% endif %}
    </ul>

    <h2>Opportunities</h2>

<!--/section-->

<div class="jumbotron"><p style="font-size: 80%;">We are always looking to recruit
    👩‍🎓 PhD students and
    👩‍💻 interns
    in Software Security. Just reach out via email.<br/>
    <br/>
    You'll need a strong background in one of:<br/>
    * Statistics, data science,
     ML (causality, security flaws), and/or<br/>
    * Program analysis, system building,
     vulnerability discovery, CTFs.<br/>
    </p>
</div>

<!--section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section-->

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
