<table class="table">
<tbody>
	{%- set prev_year = dict() %}
	{% set _ = prev_year.update({'val': 1900}) %}
	{%- for entry in entries %}
	<tr>
		<td width="60px">
			{% if entry.fields['year'] != prev_year['val'] %}
			<big><strong>{{ entry.fields['year'] }}</strong></big><br />
			{% endif %}
			{% set _ = prev_year.update({'val': entry.fields['year']}) %}
			<span class="series">{{ entry.fields['series'] | replace("\\&", "&") }}</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				{% set temp = {'has_pdf': false} %}
				{%- for type, url in (entry|extra_urls).items() %}
					{%- if type == "pdf" %}
						{%- if temp.update({'has_pdf' : true}) %} {%- endif %}
						{%- if temp.update({'url' : url}) %} {%- endif %}
					{%- endif %}
				{%- endfor %}
				{%- if temp.has_pdf %}
				<a href="{{ temp.url|escape }}"><img src="img/pdf.gif"/></a>
				{%- else %}
				<img src="img/pdf.off.gif"/>
				{%- endif %}

				</td>
				<td class="pubtitle">{{ entry|title }}.</td>
			</tr>
			<tr><td class="icon"><a href="papers/{{entry.fields['key']}}.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				{{ entry.persons['author']|author_list
				   | replace("\\\"{o}", "ö")
				   | replace("{\\\"o}", "ö")
                   | replace("\\`{e}", "è")
				   | replace("{\\\'a}", "á")
				   | replace("{\\\'o}", "ó")
                }}.
			</td></tr>
			<!--span class="venuetype">{{ entry|venue_type -}}</span-->
			<tr><td class="icon">
			{%- for type, url in (entry|extra_urls).items() %}
					{%- if type == "artifact" %}
					<span style="font-size: 110%"><a href="{{ url|escape }}">🧑‍💻</a></span>
					{%- endif %}
				{%- endfor %}
			</td>
			{%- if entry.fields['abstract'] %}
				<td class="abstract">
				    <b>Abstract:</b>
					<i>{{ entry.fields['abstract'] |escape }}</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			{%- endif %}
			<td class="venue">
				{{ entry|venue | replace("Proceedings of the","")}}.
				{%- if entry.fields['numpages'] %}
					{{ entry.fields['numpages'] }}pp.
				{%- endif %}
			</td></tr>
			{%- if entry.fields['award'] %}
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> {{ entry.fields['award'] }}</td></tr>
			{%- endif %}
			{%- if entry.fields['note'] %}
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> {{ entry.fields['note'] }}</td></tr>
			{%- endif %}
			{%- if entry.fields['note_1'] %}
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> {{ entry.fields['note_1'] }}</td></tr>
			{%- endif %}
			{%- if entry.fields['note_2'] %}
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> {{ entry.fields['note_2'] }}</td></tr>
			{%- endif %}
			{%- if entry.fields['note_3'] %}
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> {{ entry.fields['note_3'] }}</td></tr>
			{%- endif %}
			<tr><td class="icon"></td>
			<td class="links">
			{%- for type, url in (entry|extra_urls).items() %}
				{%- if type == "pdf" %}
				  [<a href="{{ url|escape }}">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/{{entry.fields['key']}}.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				{%- else %}
                    {%- if not type.startswith('artifact-badge') %}
						[<a href="{{ url|escape }}">
						{%- if type == "artifact" %}🧑‍💻{%- endif %}
						{%- if type == "website" %}🔗{%- endif %}
						{%- if type == "github" %}<span class="fa fa-fw fa-github"></span>{%- endif %}
						{%- if type == "slides" %}🧑‍🏫{%- endif %}
						{{ type|escape }}
						</a>]
				    {%- endif %}
				{%- endif %}
			{%- endfor %}
			{%- for type, url in (entry|extra_urls).items() %}
				{%- if type.startswith('artifact-badge') %}
				    {%- if type.endswith('available') %}<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a>{%- endif %}
					{%- if type.endswith('functional') %}<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>{%- endif %}
					{%- if type.endswith('reusable') %}<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>{%- endif %}
				{%- endif %}
			{%- endfor %}
			</td></tr>
			</table>
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
