<table class="table">
<tbody>
	
	
	
	
	<tr>
		<td width="60px">
			
			<big><strong>2026</strong></big><br />
			
			
			<span class="series">ICSE'26</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/GPSapia/ReachabilityAgent_ICSE">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Scaling Security Testing by Addressing the Reachability Gap.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 48th IEEE/ACM International Conference on Software Engineering (ICSE'26).
					11pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/GPSapia/ReachabilityAgent_ICSE">🧑‍💻
						https://github.com/GPSapia/ReachabilityAgent_ICSE
						</a>
			</table>
		</td>
	</tr>
	
	
	
	<tr>
		<td width="60px">
			
			
			<span class="series">SP'26</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/haoxintu/cottontail">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Cottontail: LLM-Driven Concolic Execution for Highly Structured Test Input Generation.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 47th IEEE Symposium on Security and Privacy (SP'26).
					18pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/haoxintu/cottontail">🧑‍💻
						https://github.com/haoxintu/cottontail
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">NDSS'26</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/Dormant-Neurons/llm-pitfalls">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Chasing Shadows: Pitfalls in LLM Security Research.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				The Network and Distributed System Security Symposium (NDSS'26).
					15pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/Dormant-Neurons/llm-pitfalls">🧑‍💻
						https://github.com/Dormant-Neurons/llm-pitfalls
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/haoxintu/Vital-SE">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Vital: Vulnerability-Oriented Symbolic Execution via Type-Unsafe Pointer-Guided Monte Carlo Tree Search.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology.
					24pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/haoxintu/Vital-SE">🧑‍💻
						https://github.com/haoxintu/Vital-SE
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			<big><strong>2025</strong></big><br />
			
			
			<span class="series">ISSTA'25</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/niklasrisse/TopScoreWrongExam">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Top Score on the Wrong Exam: On Benchmarking in Machine Learning for Vulnerability Detection.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 34th ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'25).
					22pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/niklasrisse/TopScoreWrongExam">🧑‍💻
						https://github.com/niklasrisse/TopScoreWrongExam
						</a>
			</table>
		</td>
	</tr>
	
	
	
	
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/aflnet/aflnet">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">AFLNet Five Years Later: On Coverage-Guided Protocol Fuzzing.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
					14pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/aflnet/aflnet">🧑‍💻
						https://github.com/aflnet/aflnet
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ICLR'25</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/niMgnoeSeeL/UnseenGA">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">How Much is Unseen Depends Chiefly on Information About the Seen.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 13th International Conference on Learning Representations (ICLR'25).
					22pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/niMgnoeSeeL/UnseenGA">🧑‍💻
						https://github.com/niMgnoeSeeL/UnseenGA
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'25</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/OctavioGalland/afllive">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Invivo Fuzzing by Amplifying Actual Executions.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 47th International Conference on Software Engineering (ICSE'25).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/OctavioGalland/afllive">🧑‍💻
						https://github.com/OctavioGalland/afllive
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'25</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/niMgnoeSeeL/ChaoMI">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Accounting for Missing Events in Statistical Information Leakage Analysis.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 47th International Conference on Software Engineering (ICSE'25).
					12pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/niMgnoeSeeL/ChaoMI">🧑‍💻
						https://github.com/niMgnoeSeeL/ChaoMI
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">FSE'25</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="http://github.com/HexHive/MendelFuzz-Artifact">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">MendelFuzz: The Return of the Deterministic Stage.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 ACM International Conference on the Foundations of Software Engineering (FSE'25).
					21pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="http://github.com/HexHive/MendelFuzz-Artifact">🧑‍💻
						http://github.com/HexHive/MendelFuzz-Artifact
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			<big><strong>2024</strong></big><br />
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.16564146">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">On the Impact of Lower Recall and Precision in Defect Prediction for Guiding Search-based Software Testing.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology 33(6).
					27pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.6084/m9.figshare.16564146">🧑‍💻
						https://doi.org/10.6084/m9.figshare.16564146
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">USENIX Sec'24</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/niklasrisse/USENIX_2024">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Uncovering the Limits of Machine Learning for Automatic Vulnerability Detection.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 33rd USENIX Security Symposium (USENIX Sec'24).
					19pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/niklasrisse/USENIX_2024">🧑‍💻
						https://github.com/niklasrisse/USENIX_2024
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/niklasrisse/VPP"><span class="fa fa-fw fa-github"></span>
						https://github.com/niklasrisse/VPP
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">CCS'24</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/hw-sw-contracts/leakage-model-testing">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Testing Side-Channel Security of Cryptographic Implementations Against Future Microarchitectures.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 31st ACM Conference on Computer and Communications Security (CCS'24).
					16pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/hw-sw-contracts/leakage-model-testing">🧑‍💻
						https://github.com/hw-sw-contracts/leakage-model-testing
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'24</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.10460578">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Extrapolating Coverage Rate in Greybox Fuzzing.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 46th International Conference on Software Engineering (ICSE'24).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.10460578">🧑‍💻
						https://doi.org/10.5281/zenodo.10460578
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">NDSS'24</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://zenodo.org/doi/10.5281/zenodo.8373804">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Large Language Model guided Protocol Fuzzing.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 Network and Distributed System Security Symposium (NDSS'24).
					15pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://zenodo.org/doi/10.5281/zenodo.8373804">🧑‍💻
						https://zenodo.org/doi/10.5281/zenodo.8373804
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/ChatAFLndss/ChatAFL"><span class="fa fa-fw fa-github"></span>
						https://github.com/ChatAFLndss/ChatAFL
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/charakageethal/learn2fix-journal-ext/">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Human-In-The-Loop Automatic Program Repair.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
					24pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/charakageethal/learn2fix-journal-ext/">🧑‍💻
						https://github.com/charakageethal/learn2fix-journal-ext/
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			<big><strong>2023</strong></big><br />
			
			
			<span class="series">CACM</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.12415622">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Boosting Fuzzer Efficiency: An Information Theoretic Perspective.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				Communcations of the ACM 66(11).
					9pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.6084/m9.figshare.12415622">🧑‍💻
						https://doi.org/10.6084/m9.figshare.12415622
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.8267404">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Statistical Reachability Analysis.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 31st ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC / FSE'23).
					12pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.8267404">🧑‍💻
						https://doi.org/10.5281/zenodo.8267404
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ASE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7902214">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Precise Data-Driven Approximation for Program Analysis via Fuzzing.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 38th IEEE/ACM International Conference on Automated Software Engineering (ASE'23).
					12pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.7902214">🧑‍💻
						https://doi.org/10.5281/zenodo.7902214
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7571359">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Reachable Coverage: Estimating Saturation in Fuzzing.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 45th International Conference on Software Engineering (ICSE'23).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.7571359">🧑‍💻
						https://doi.org/10.5281/zenodo.7571359
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Evaluating the Impact of Experimental Assumptions in Automated Fault Localization.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 ACM/IEEE 45th International Conference on Software Engineering (ICSE'23).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743">🧑‍💻
						https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://debugging-assumptions.github.io/">🔗
						https://debugging-assumptions.github.io/
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ISSTA'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7944722">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Green Fuzzing: A Saturation-based Stopping Criterion using Vulnerability Prediction.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 32nd ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'23).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.7944722">🧑‍💻
						https://doi.org/10.5281/zenodo.7944722
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/tum-i4/green-fuzzing-artifacts/tree/1.0.0"><span class="fa fa-fw fa-github"></span>
						https://github.com/tum-i4/green-fuzzing-artifacts/tree/1.0.0
						</a>
			</table>
		</td>
	</tr>
	
	
	<tr>
		<td width="60px">
			
			
			<span class="series">SBFT'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/kloostert/CICDFuzzBench">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Continuous Fuzzing: A Study of the Effectiveness and Scalability of Fuzzing in CI/CD Pipelines.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				2023 IEEE/ACM International Workshop on Search-Based and Fuzz Testing (SBFT'23).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/kloostert/CICDFuzzBench">🧑‍💻
						https://github.com/kloostert/CICDFuzzBench
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/kloostert/CICDFuzzBench"><span class="fa fa-fw fa-github"></span>
						https://github.com/kloostert/CICDFuzzBench
						</a>
			</table>
		</td>
	</tr>
	
	
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/premosa-sbst">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">An Experimental Assessment of Using Theoretical Defect Predictors to Guide Search-based Software Testing.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/premosa-sbst">🧑‍💻
						https://github.com/premosa-sbst
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			<big><strong>2022</strong></big><br />
			
			
			<span class="series">ICSE'22</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.6045830">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">On the Reliability of Coverage-based Fuzzer Benchmarking.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 44th International Conference on Software Engineering (ICSE'22).
					13pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.6045830">🧑‍💻
						https://doi.org/10.5281/zenodo.6045830
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/icse22data/"><span class="fa fa-fw fa-github"></span>
						https://github.com/icse22data/
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">USENIX SEC'22</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://github.com/bajinsheng/SGFuzz">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Stateful Greybox Fuzzing.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 31st USENIX Security Symposium (USENIX SEC'22).
					18pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/bajinsheng/SGFuzz">🧑‍💻
						https://github.com/bajinsheng/SGFuzz
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ISSTA'22</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.6530839">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Human-in-the-Loop Oracle Learning for Semantic Bugs in String Processing Programs.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 31st ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'22).
					12pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.6530839">🧑‍💻
						https://doi.org/10.5281/zenodo.6530839
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/charakageethal/grammar2fix"><span class="fa fa-fw fa-github"></span>
						https://github.com/charakageethal/grammar2fix
						</a>
			</table>
		</td>
	</tr>
	
	
	
	<tr>
		<td width="60px">
			
			<big><strong>2021</strong></big><br />
			
			
			<span class="series">CCS'21</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://www.kaggle.com/marcelbhme/aflchurn-ccs21/code">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Regression Greybox Fuzzing.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 28th ACM Conference on Computer and Communications Security (CCS'21).
					12pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/aflchurn/aflchurn"><span class="fa fa-fw fa-github"></span>
						https://github.com/aflchurn/aflchurn
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://www.kaggle.com/marcelbhme/aflchurn-ccs21/code">🧑‍💻
						https://www.kaggle.com/marcelbhme/aflchurn-ccs21/code
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">EMSE'21</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.13369400.v1">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Locating faults with program slicing: an empirical analysis.
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				Empirical Software Engineering 26(3).
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.6084/m9.figshare.13369400.v1">🧑‍💻
						https://doi.org/10.6084/m9.figshare.13369400.v1
						</a>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'21</span>
		</td>
		<td class="publication">
			<table>
			<tr><td class="icon">
						<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.4970239">🧑‍💻</a></span>
				</td>
				<td class="pubtitle">Estimating Residual Risk in Greybox Fuzzing.<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
				</td>
			</tr>
			<td class="icon"></td>
			<td class="venue">
				 15th Joint meeting of the European Software Engineering Conference and the ACM SIGSOFT Symposium on the Foundations of Software Engineering (ESEC / FSE'21).
					12pp.
			</td></tr>
					<tr><td class="icon"></td>
					<td>
					<a href="https://doi.org/10.5281/zenodo.4970239">🧑‍💻
						https://doi.org/10.5281/zenodo.4970239
						</a>
					<tr><td class="icon"></td>
					<td>
					<a href="https://github.com/Adaptive-Bias/fse21_paper270"><span class="fa fa-fw fa-github"></span>
						https://github.com/Adaptive-Bias/fse21_paper270
						</a>
			</table>
		</td>
	</tr>
</tbody>
</table>

