
{% assign item = include.item %}
{% if item.icon %}
{% assign icon = item.icon %}
{% assign class = "shortnews" %}
{% else %}
{% assign icon = "newspaper-o" %}
{% endif %}

{% capture news %}
    <span>
        {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
    </span>
{% endcapture %}

{% capture header %}
<span class="fa fa-fw fa-{{ icon }}"></span>
<span class="date">{{ post.date | date: '%B %Y' }}</span>
{% endcapture %}
<li class="{{ class }}">
    {% if post.image %}

        {% capture img %}
            <img class="img-fluid d-block mx-auto"
                 style="{{ post.image_style }}"
                 src="{{ post.image }}">
        {% endcapture %}

        <span class="row">
            <span class="col-sm-10">
                {{ header }}
                {{ news }}
            </span>

        </span>
     {% else %}
        {{ header }}
        {{ news }}
    {% endif %}
    </li>
