
{% assign person = include.person %}

{% comment %}

Usage:

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

Use the image parameter to include or not include an image.

Note that pl-0 just removes the left padding from the name part that is put
there by default by Bootstrap columns.

{% endcomment %}

{% if person.webpage %}
    {% capture name %}
        <a href="{{ person.webpage | escape }}"> {{ person.display_name }} </a>
    {% endcapture %}
{% else %}
    {% assign name = person.display_name %}
{% endif %}

{% if include.image %}
<li>
    {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}
    {% assign imgurl = false %}
    {% if person.image %}
        {% capture init %}{{ person.image | slice: 0,2 }}{% endcapture %}
        {% if init == "//" %}
            {% assign imgurl = person.image %}
        {% else %}
            {% capture imgurl %}{{site.base}}{{person.image}}{% endcapture %}
        {% endif %}
    {% endif %}

    {% if imgurl %}
        <img class="rounded-circle profile"
             alt="{{ person.display_name }}"
             title="{{ person.display_name }}"
             src="{{ site.base }}{{ person.image }}" />
    {% else %}
        <svg class="profile"><circle class="noprofile" /></svg>
    {% endif %}
    {% if person.webpage %}</a>{% endif %}
    <div class="person">
    {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}
    <h4>{{person.display_name}}</h4>
    {% if person.webpage %}</a>{% endif %}
    {% if person.bio %}<p class="bio">{{person.bio}}</p>{% endif %}
    </div>
</li>
{% else %}
<li>
    {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}{{person.display_name}}{% if person.webpage %}</a>{% endif %}
    {% if person.bio %} <span class="bio bio-inline">{{person.bio}}</span>{% endif %}
</li>
{% endif %}
