<table class="table">
<tbody>
	
	<tr>
		<td width="60px">
			
			<big><strong>2026</strong></big><br />
			
			
			<span class="series">SP'26</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<img src="img/pdf.off.gif"/>

				</td>
				<td class="pubtitle">Cottontail: LLM-Driven Concolic Execution for Highly Structured Test Input Generation.</td>
			</tr>
			<tr><td class="icon"><a href="papers/SP26-cottontail.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Haoxin Tu, Seongmin Lee, Yuxian Li, Peng Chen, Lingxiao Jiang, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>How to perform concolic execution to generate highly structured test inputs for systematically testing parsing programs.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 47th IEEE Symposium on Security and Privacy (SP'26).
					18pp.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Accepted with shepherding.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2025</strong></big><br />
			
			
			<span class="series">ISSTA'25</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ISSTA25-topscore.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Top Score on the Wrong Exam: On Benchmarking in Machine Learning for Vulnerability Detection.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ISSTA25-topscore.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Niklas Risse, Jing Liu, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/niklasrisse/TopScoreWrongExam">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>The most prevalent problem statement of ML4VD as function-level binary classification problem is ill-defined.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 34th ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'25).
					22pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> Our paper was selected as <b>ACM Distinguished Papers</b> (Top 8% of accepted papers). Congrats Niklas and Jing!</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Supplementary material can be found here: <a href="papers/ISSTA25-supplementary.pdf">ISSTA25-supplementary.pdf</a></td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ISSTA25-topscore.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ISSTA25-topscore.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/niklasrisse/TopScoreWrongExam">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">S&P</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/IEEESP25-howto.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">How to Solve Cybersecurity Once and For All.</td>
			</tr>
			<tr><td class="icon"><a href="papers/IEEESP25-howto.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>We should stop trying to confirm the effectiveness of our defenses and start failing to find counterexamples.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				IEEE Security and Privacy, Vol. 23, Issue 3.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Invited journal article. A much abbreviated version of the <a href="https://www.slideshare.net/slideshow/keynote-raid-24-how-to-solve-cybersecurity-once-and-for-all/273801338">keynote</a> at <a href="https://raid2024.github.io/program.html">RAID'24</a></td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/IEEESP25-howto.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/IEEESP25-howto.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TOSEM25-roadmap.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Software Security Analysis in 2030 and Beyond: A Research Roadmap.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TOSEM25-roadmap.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, Eric Bodden, Tevfik Bultan, Cristian Cadar, Yang Liu, and Giuseppe Scanniello.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Challenges and opportunities for the security analysis of our software systems of the future.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology.
					25pp.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Invited article (Special Section: 2030 Software Engineering Roadmap).</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TOSEM25-roadmap.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TOSEM25-roadmap.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TOSEM25-bench.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Fuzzing: On Benchmarking Outcome as a Function of Benchmark Properties.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TOSEM25-bench.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Dylan Wolff, Marcel Böhme, and Abhik Roychoudhury.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>How would fuzzer ranking change if programs were larger or initial seeds had more coverage?</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology.
					24pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TOSEM25-bench.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TOSEM25-bench.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TSE25-aflnet.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">AFLNet Five Years Later: On Coverage-Guided Protocol Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TSE25-aflnet.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Ruijie Meng, Van-Thuan Pham, Marcel Böhme, and Abhik Roychoudhury.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/aflnet/aflnet">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>State- and code-coverage-guided greybox fuzzing (Extended version of our ICSE&#39;20 Tool Demo)</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
					14pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TSE25-aflnet.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TSE25-aflnet.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/aflnet/aflnet">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICLR'25</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICLR25-unseen.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">How Much is Unseen Depends Chiefly on Information About the Seen.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICLR25-unseen.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Seongmin Lee and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/niMgnoeSeeL/UnseenGA">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Significant progress on a beautiful statistical riddle. Can estimate data representativeness.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 13th International Conference on Learning Representations (ICLR'25).
					22pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> Our paper was selected as <b>ICLR'25 Spotlight</b> (Top 5% of accepted papers). Congrats Seongmin!</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICLR25-unseen.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICLR25-unseen.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/niMgnoeSeeL/UnseenGA">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'25</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE25-invivo.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Invivo Fuzzing by Amplifying Actual Executions.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE25-invivo.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Octavio Galland and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/OctavioGalland/afllive">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Don&#39;t attach a fuzzer using fuzz drivers! Inject a fuzzer and amplify any state.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 47th International Conference on Software Engineering (ICSE'25).
					13pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE25-invivo.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE25-invivo.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/OctavioGalland/afllive">🧑‍💻
						artifact
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'25</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE25-leak.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Accounting for Missing Events in Statistical Information Leakage Analysis.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE25-leak.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Seongmin Lee, Shreyas Minocha, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/niMgnoeSeeL/ChaoMI">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Estimating software privacy in the small sample regime.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 47th International Conference on Software Engineering (ICSE'25).
					12pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE25-leak.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE25-leak.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/niMgnoeSeeL/ChaoMI">🧑‍💻
						artifact
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">FSE'25</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/FSE25-mendelfuzz.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">MendelFuzz: The Return of the Deterministic Stage.</td>
			</tr>
			<tr><td class="icon"><a href="papers/FSE25-mendelfuzz.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Han Zheng, Flavio Toffalini, Marcel Böhme, and Mathias Payer.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="http://github.com/HexHive/MendelFuzz-Artifact">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Can a fuzzer cover more code with minimal corruption of the initial seed?</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 ACM International Conference on the Foundations of Software Engineering (FSE'25).
					21pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> Adopted as <b><a href="https://github.com/AFLplusplus/AFLplusplus/pull/1972">default mode</a> in the most widely-used fuzzer</b> AFL++ since v4.10c.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/FSE25-mendelfuzz.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/FSE25-mendelfuzz.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="http://github.com/HexHive/MendelFuzz-Artifact">🧑‍💻
						artifact
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2024</strong></big><br />
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="https://doi.org/10.1145/3655022"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">On the Impact of Lower Recall and Precision in Defect Prediction for Guiding Search-based Software Testing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TOSEM24-dpsbst.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Anjana Perera, Burak Turhan, Aldeida Aleti, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.16564146">🧑‍💻</a></span>
			</td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology 33(6).
					27pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="https://doi.org/10.1145/3655022">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TOSEM24-dpsbst.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.6084/m9.figshare.16564146">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">USENIX Sec'24</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/USENIX24-ml4sec.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Uncovering the Limits of Machine Learning for Automatic Vulnerability Detection.</td>
			</tr>
			<tr><td class="icon"><a href="papers/USENIX24-ml4sec.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Niklas Risse and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/niklasrisse/USENIX_2024">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Are machine learning models for vulnerability discovery as good as they seem?</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 33rd USENIX Security Symposium (USENIX Sec'24).
					19pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/USENIX24-ml4sec.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/USENIX24-ml4sec.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/niklasrisse/USENIX_2024">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/niklasrisse/VPP"><span class="fa fa-fw fa-github"></span>
						github
						</a>]
						[<a href="https://www.usenix.org/system/files/usenixsecurity24_slides-risse.pdf">🧑‍🏫
						slides
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">CCS'24</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/CCS24-lmtest.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Testing Side-Channel Security of Cryptographic Implementations Against Future Microarchitectures.</td>
			</tr>
			<tr><td class="icon"><a href="papers/CCS24-lmtest.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				G. Barthe, M. Böhme, S. Cauligi, C. Chuengsatiansup, D. Genkin, M. Guarnieri, D. Romero, P. Schwabe, D. Wu, and Y. Yarom.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/hw-sw-contracts/leakage-model-testing">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>How to find side-channels in crypto implementations running on future microarchitectures.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 31st ACM Conference on Computer and Communications Security (CCS'24).
					16pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> Our paper won the <b>ACM SIGSAC Distinguished Paper Award</b> at CCS'24. Congrats all!</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/CCS24-lmtest.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/CCS24-lmtest.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/hw-sw-contracts/leakage-model-testing">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'24</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE24-predict.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Extrapolating Coverage Rate in Greybox Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE24-predict.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Danushka Liyanage, Seongmin Lee, Chakkrit Tantithamthavorn, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.10460578">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>How to *predict* the coverage rate of a greybox fuzzer in the future.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 46th International Conference on Software Engineering (ICSE'24).
					13pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE24-predict.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE24-predict.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.10460578">🧑‍💻
						artifact
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">NDSS'24</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/NDSS24-chatafl.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Large Language Model guided Protocol Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/NDSS24-chatafl.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Ruijie Meng, Martin Mirchev, Marcel Böhme, and Abhik Roychoudhury.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://zenodo.org/doi/10.5281/zenodo.8373804">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>How to make a fuzzer ask ChatGPT about the correct structure and order of messages as specified in 100+ pages of RFC.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 Network and Distributed System Security Symposium (NDSS'24).
					15pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> <b><a href="https://web.archive.org/web/20250424065135/https://www.mlsec.org/topnotch/sec_ntop100.html">Number 24</a></b> in the <b>Normalized Top-100 Security Papers</b> of all time.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/NDSS24-chatafl.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/NDSS24-chatafl.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://zenodo.org/doi/10.5281/zenodo.8373804">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/ChatAFLndss/ChatAFL"><span class="fa fa-fw fa-github"></span>
						github
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TSE24-learn2fix.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Human-In-The-Loop Automatic Program Repair.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TSE24-learn2fix.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Charaka Geethal Kapugama, Marcel Böhme, and Van-Thuan Pham.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/charakageethal/learn2fix-journal-ext/">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Learn2fix automatically negotiates with the user the condition under which the bug is observed before it repairs the bug.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
					24pp.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Journal extension of our homonymous <a href="papers/ICST20-learn2fix.pdf">ICST'20</a> paper.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TSE24-learn2fix.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TSE24-learn2fix.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/charakageethal/learn2fix-journal-ext/">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2023</strong></big><br />
			
			
			<span class="series">CACM</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/CACM23-entropic.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Boosting Fuzzer Efficiency: An Information Theoretic Perspective.</td>
			</tr>
			<tr><td class="icon"><a href="papers/CACM23-entropic.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, Valentin J. M. Manès, and Sang Kil Cha.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.12415622">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Every generated input reveals some information about the program. Maximizing information maximizes efficiency.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				Communcations of the ACM 66(11).
					9pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> CACM Research Highlight for the month of November. CACM a journal sent to all members of the ACM.</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> CACM Technical Perspective: <a href="https://cacm.acm.org/magazines/2023/11/277438-technical-perspective-whats-all-the-fuss-about-fuzzing">"What's all the fuss about fuzzing?"</a> by the amazing Gordon Fraser!</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/CACM23-entropic.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/CACM23-entropic.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.6084/m9.figshare.12415622">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/FSE23-reachability.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Statistical Reachability Analysis.</td>
			</tr>
			<tr><td class="icon"><a href="papers/FSE23-reachability.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Seongmin Lee and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.8267404">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Quantiative program analysis using a statistical rather than an analytical approach.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 31st ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC / FSE'23).
					12pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/FSE23-reachability.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/FSE23-reachability.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.8267404">🧑‍💻
						artifact
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ASE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ASE23-preciseApprox.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Precise Data-Driven Approximation for Program Analysis via Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ASE23-preciseApprox.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Nikhil Parasaram, Earl T. Barr, Sergey Mechtaev, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7902214">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Marry static analysis to over-/under-approx. the valid state space and fuzzing + stats to estimate the degree of validity.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 38th IEEE/ACM International Conference on Automated Software Engineering (ASE'23).
					12pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ASE23-preciseApprox.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ASE23-preciseApprox.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.7902214">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE23-effectiveness.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Reachable Coverage: Estimating Saturation in Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE23-effectiveness.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Danushka Liyanage, Marcel Böhme, Chakkrit Tantithamthavorn, and Stephan Lipp.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7571359">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Estimating the maximum achievable coverage by automatic test input generation.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 45th International Conference on Software Engineering (ICSE'23).
					13pp.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Featured in the <a href="https://www.fuzztesting.io/fuzzing-weekly/2023/cw5">Fuzzing Weekly Newsletter (CW5)</a>.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE23-effectiveness.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE23-effectiveness.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.7571359">🧑‍💻
						artifact
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE23-debug-assumptions.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Evaluating the Impact of Experimental Assumptions in Automated Fault Localization.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE23-debug-assumptions.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Ezekiel Soremekun, Lukas Kirschner, Marcel Böhme, and Mike Papadakis.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Evaluating the assumptions that researchers make during debugging tool evaluations.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 ACM/IEEE 45th International Conference on Software Engineering (ICSE'23).
					13pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE23-debug-assumptions.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE23-debug-assumptions.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743">🧑‍💻
						artifact
						</a>]
						[<a href="https://debugging-assumptions.github.io/">🔗
						website
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ISSTA'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ISSTA23-green.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Green Fuzzing: A Saturation-based Stopping Criterion using Vulnerability Prediction.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ISSTA23-green.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Stephan Lipp, Daniel Elsner, Severin Kacianka, Alexander Pretschner, Marcel Böhme, and Sebastian Banescu.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7944722">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>We suggest to stop a fuzzing campaign when the coverage of potentially vulnerable code saturates.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 32nd ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'23).
					13pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ISSTA23-green.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ISSTA23-green.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.7944722">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/tum-i4/green-fuzzing-artifacts/tree/1.0.0"><span class="fa fa-fw fa-github"></span>
						github
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'23 (SRC)</span>
				<br/><center><div style="font-size: 200%">🏆</div></center>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/FSE23-src.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Detecting Overfitting of Machine Learning Techniques for Automatic Vulnerability Detection.</td>
			</tr>
			<tr><td class="icon"><a href="papers/FSE23-src.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Niklas Risse.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
			<td class="venue">
				Student Research Competition (SRC) at the 31st ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC / FSE'23 (SRC)).
					3pp.
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> Niklas won <b>2nd place</b> in the ACM FSE Student Research Competition. Congrats Niklas!</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/FSE23-src.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/FSE23-src.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">SBFT'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="https://arxiv.org/abs/2205.14964"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Continuous Fuzzing: A Study of the Effectiveness and Scalability of Fuzzing in CI/CD Pipelines.</td>
			</tr>
			<tr><td class="icon"><a href="papers/SBFT23-cicd.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Thijs Klooster, Fatih Turkmen, Gerben Broenink, Ruben Ten Hove, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/kloostert/CICDFuzzBench">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>How to integrate fuzzing in a CI/CD pipeline, where time is limited but the analysis can be incremental?</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				2023 IEEE/ACM International Workshop on Search-Based and Fuzz Testing (SBFT'23).
					13pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="https://arxiv.org/abs/2205.14964">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/SBFT23-cicd.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/kloostert/CICDFuzzBench">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/kloostert/CICDFuzzBench"><span class="fa fa-fw fa-github"></span>
						github
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE'22</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TSE22-defectSBST.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">An Experimental Assessment of Using Theoretical Defect Predictors to Guide Search-based Software Testing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TSE22-defectSBST.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Anjana Perera, Aldeida Aleti, Burak Turhan, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/premosa-sbst">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>What is the impact of defect predictor accuracy on defectiveness-guided test generation?</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TSE22-defectSBST.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TSE22-defectSBST.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/premosa-sbst">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2022</strong></big><br />
			
			
			<span class="series">ICSE'22</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE22-benchmarking.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">On the Reliability of Coverage-based Fuzzer Benchmarking.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE22-benchmarking.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, László Szekeres, and Jonathan Metzman.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.6045830">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>We find a strong correlation but no strong agreement on fuzzer superiority in terms of coverage versus bugs.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 44th International Conference on Software Engineering (ICSE'22).
					13pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE22-benchmarking.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE22-benchmarking.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.6045830">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/icse22data/"><span class="fa fa-fw fa-github"></span>
						github
						</a>]
						[<a href="https://www.slideshare.net/mboehme/on-the-reliability-of-coveragebased-fuzzer-benchmarking">🧑‍🏫
						slides
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">USENIX SEC'22</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/SEC22-sgfuzz.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Stateful Greybox Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/SEC22-sgfuzz.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Jinsheng Ba, Marcel Böhme, Zahra Mirzamomen, and Abhik Roychoudhury.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/bajinsheng/SGFuzz">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Navigating an unknown state space by identifying and monitoring state variables values.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 31st USENIX Security Symposium (USENIX SEC'22).
					18pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/SEC22-sgfuzz.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/SEC22-sgfuzz.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/bajinsheng/SGFuzz">🧑‍💻
						artifact
						</a>]
						[<a href="https://www.usenix.org/system/files/sec22_slides-ba.pdf">🧑‍🏫
						slides
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ISSTA'22</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<img src="img/pdf.off.gif"/>

				</td>
				<td class="pubtitle">Human-in-the-Loop Oracle Learning for Semantic Bugs in String Processing Programs.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ISSTA22-grammar2fix.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Charaka Geethal, Van-Thuan Pham, Aldeida Aleti, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.6530839">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Learning to identify semantic bugs for string processing programs.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 31st ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'22).
					12pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
						[<a href="https://doi.org/10.5281/zenodo.6530839">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/charakageethal/grammar2fix"><span class="fa fa-fw fa-github"></span>
						github
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_functional_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'22 (NIER)</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE22-NIER-statistical.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Statistical Reasoning About Programs.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE22-NIER-statistical.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Open challenges and new research directions for automated program analysis at scale.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 44th International Conference on Software Engineering (ICSE'22 (NIER)).
					5pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE22-NIER-statistical.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE22-NIER-statistical.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://www.slideshare.net/mboehme/statistical-reasoning-about-programs">🧑‍🏫
						slides
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2021</strong></big><br />
			
			
			<span class="series">IEEE Software</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/IEEESW21-challenges.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Fuzzing: Challenges and Opportunities.</td>
			</tr>
			<tr><td class="icon"><a href="papers/IEEESW21-challenges.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, Cristian Cadar, and Abhik Roychoudhury.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>A resource for practitioners and researchers to learn about the main open challenges in fuzzing and symbolic execution.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				IEEE Software.
					9pp.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> This is the outcome of a 3-day meeting of thought leaders and rising stars, both in industry and academia. We are happy to publish these results in the premier magazine (and journal) for software practitioners.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/IEEESW21-challenges.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/IEEESW21-challenges.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://www.slideshare.net/mboehme/fuzzing-challenges-and-reflections">🧑‍🏫
						slides
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">CCS'21</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/CCS21-aflchurn.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Regression Greybox Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/CCS21-aflchurn.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Xiaogang Zhu and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://www.kaggle.com/marcelbhme/aflchurn-ccs21/code">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Once a program is well-fuzzed, most bugs found are regressions. Fuzz all commits at once, but focus on recent ones.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 28th ACM Conference on Computer and Communications Security (CCS'21).
					12pp.
			</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/CCS21-aflchurn.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/CCS21-aflchurn.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://github.com/aflchurn/aflchurn"><span class="fa fa-fw fa-github"></span>
						github
						</a>]
						[<a href="https://www.kaggle.com/marcelbhme/aflchurn-ccs21/code">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">EMSE'21</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/EMSE21-slicing.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Locating faults with program slicing: an empirical analysis.</td>
			</tr>
			<tr><td class="icon"><a href="papers/EMSE21-slicing.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Ezekiel Soremekun, Lukas Kirschner, Marcel Böhme, and Andreas Zeller.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.13369400.v1">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>Empirical comparison of statistical fault localization and dynamic program slicing along more realistic assumptions.</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				Empirical Software Engineering 26(3).
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Congrats to Ezekiel, Lukas, and Andreas! Ezekiel started this work with when I was still a PostDoc in Andreas' team.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/EMSE21-slicing.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/EMSE21-slicing.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.6084/m9.figshare.13369400.v1">🧑‍💻
						artifact
						</a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'21</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/FSE21-residualrisk.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Estimating Residual Risk in Greybox Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/FSE21-residualrisk.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, Danushka Liyanage, and Valentin Wüstholz.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.4970239">🧑‍💻</a></span>
			</td>
				<td class="abstract">
				    <b>Abstract:</b>
					<i>After 24hrs no crashes, you abort the campaign. What is the change to see a crash if you generated one more input?</i>
				</td></tr>
				<tr><td class="icon">
				</td>
			<td class="venue">
				 15th Joint meeting of the European Software Engineering Conference and the ACM SIGSOFT Symposium on the Foundations of Software Engineering (ESEC / FSE'21).
					12pp.
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Congrats Danushka on his first paper. Exciting work with our industry collaborator Valentin. We are breaking new ground!<br.> <b>Shoutout</b> J. Campbell (Microsoft) <a href="https://twitter.com/metr0/status/1396107664669634563">finds this direction interesting</a> for large-scale fuzzing campaigns in <a href="https://www.microsoft.com/en-us/research/project/project-onefuzz/">OneFuzz</a> to maximize bug finding within the compute budget.</td></tr>
			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/FSE21-residualrisk.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/FSE21-residualrisk.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
						[<a href="https://doi.org/10.5281/zenodo.4970239">🧑‍💻
						artifact
						</a>]
						[<a href="https://github.com/Adaptive-Bias/fse21_paper270"><span class="fa fa-fw fa-github"></span>
						github
						</a>]<a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" width="16"></a><a href="https://dl.acm.org/artifacts/software"><img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_evaluated_reusable_dl.jpg" width="16"></a>
			</td></tr>
			</table>
		</td>
	</tr>
</tbody>
</table>
