<table class="table">
<tbody>
	
	<tr>
		<td width="60px">
			
			<big><strong>2025</strong></big><br />
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TOSEM25-roadmap.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Software Security Analysis in 2030 and Beyond: A Research Roadmap.</td>
			</tr>
			<tr><td class="icon"><a href="papers/roadmap.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, Eric Bodden, Tevfik Bultan, Cristian Cadar, Yang Liu, and Giuseppe Scanniello.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology.
					25pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Challenges and opportunities for the security analysis of our software systems of the future.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TOSEM25-roadmap.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/roadmap.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Invited article (Special Section: 2030 Software Engineering Roadmap).</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'25</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE25-leak.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Accounting for Missing Events in Statistical Information Leakage Analysis.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE25-leak.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Seongmin Lee, Shreyas Minocha, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
			<td class="venue">
				 47th International Conference on Software Engineering (ICSE'25).
					12pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Estimating software privacy in the small sample regime.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE25-leak.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE25-leak.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2024</strong></big><br />
			
			
			<span class="series">TOSEM</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="https://doi.org/10.1145/3655022"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">On the Impact of Lower Recall and Precision in Defect Prediction for Guiding Search-based Software Testing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TOSEM24-dpsbst.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Anjana Perera, Burak Turhan, Aldeida Aleti, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
			<td class="venue">
				ACM Transactions on Software Engineering and Methodology 33(6).
					27pp.
			</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="https://doi.org/10.1145/3655022">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TOSEM24-dpsbst.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">USENIX Sec'24</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/USENIX24-ml4sec.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Uncovering the Limits of Machine Learning for Automatic Vulnerability Detection.</td>
			</tr>
			<tr><td class="icon"><a href="papers/USENIX24-ml4sec.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Niklas Risse and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
			<td class="venue">
				 33rd USENIX Security Symposium (USENIX Sec'24).
					19pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Are machine learning models for vulnerability discovery as good as they seem?</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/USENIX24-ml4sec.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/USENIX24-ml4sec.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">CCS'24</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/CCS24-lmtest.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Testing Side-Channel Security of Cryptographic Implementations Against Future Microarchitectures.</td>
			</tr>
			<tr><td class="icon"><a href="papers/CCS24-lmtest.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				G. Barthe, M. Böhme, S. Cauligi, C. Chuengsatiansup, D. Genkin, M. Guarnieri, D. Romero, P. Schwabe, D. Wu, and Y. Yarom.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/hw-sw-contracts/leakage-model-testing">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 31st ACM Conference on Computer and Communications Security (CCS'24).
					16pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>How to find side-channels in crypto implementations running on future microarchitectures.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/CCS24-lmtest.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/CCS24-lmtest.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://github.com/hw-sw-contracts/leakage-model-testing">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'24</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE24-predict.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Extrapolating Coverage Rate in Greybox Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE24-predict.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Danushka Liyanage, Seongmin Lee, Chakkrit Tantithamthavorn, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.10460578">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 46th International Conference on Software Engineering (ICSE'24).
					13pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>How to *predict* the coverage rate of a greybox fuzzer in the future.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE24-predict.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE24-predict.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://doi.org/10.5281/zenodo.10460578">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">NDSS'24</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/NDSS24-chatafl.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Large Language Model guided Protocol Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/NDSS24-chatafl.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Ruijie Meng, Martin Mirchev, Marcel Böhme, and Abhik Roychoudhury.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://zenodo.org/doi/10.5281/zenodo.8373804">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 Network and Distributed System Security Symposium (NDSS'24).
					15pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>How to make a fuzzer ask ChatGPT about the correct structure and order of messages as specified in 100+ pages of RFC.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/NDSS24-chatafl.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/NDSS24-chatafl.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://zenodo.org/doi/10.5281/zenodo.8373804">🧑‍💻
				  artifact
				  </a>]
				  [<a href="https://github.com/ChatAFLndss/ChatAFL"><span class="fa fa-fw fa-github"></span>
				  github
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">TSE</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/TSE24-learn2fix.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Human-In-The-Loop Automatic Program Repair.</td>
			</tr>
			<tr><td class="icon"><a href="papers/TSE24-learn2fix.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Charaka Geethal Kapugama, Marcel Böhme, and Van-Thuan Pham.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://github.com/charakageethal/learn2fix-journal-ext/">🧑‍💻</a></span>
			</td>
			<td class="venue">
				IEEE Transactions on Software Engineering.
					24pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Learn2fix automatically negotiates with the user the condition under which the bug is observed before it repairs the bug.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/TSE24-learn2fix.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/TSE24-learn2fix.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://github.com/charakageethal/learn2fix-journal-ext/">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Journal extension of our homonymous <a href="papers/ICST20-learn2fix.pdf">ICST'20</a> paper.</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			<big><strong>2023</strong></big><br />
			
			
			<span class="series">CACM</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/CACM23-entropic.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Boosting Fuzzer Efficiency: An Information Theoretic Perspective.</td>
			</tr>
			<tr><td class="icon"><a href="papers/CACM23-entropic.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Marcel Böhme, Valentin J. M. Manès, and Sang Kil Cha.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.6084/m9.figshare.12415622">🧑‍💻</a></span>
			</td>
			<td class="venue">
				Communcations of the ACM 66(11).
					9pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Every generated input reveals some information about the program. Maximizing information maximizes efficiency.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/CACM23-entropic.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/CACM23-entropic.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://doi.org/10.6084/m9.figshare.12415622">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
				<tr><td class="icon"><span style="font-size: 80%">&nbsp;🏆</span></td>
			    <td class="note"><b>Award:</b> CACM Research Highlight for the month of November. CACM a journal sent to all members of the ACM.</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> CACM Technical Perspective: <a href="https://cacm.acm.org/magazines/2023/11/277438-technical-perspective-whats-all-the-fuss-about-fuzzing">"What's all the fuss about fuzzing?"</a> by the amazing Gordon Fraser!</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/FSE23-reachability.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Statistical Reachability Analysis.</td>
			</tr>
			<tr><td class="icon"><a href="papers/FSE23-reachability.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Seongmin Lee and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.8267404">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 31st ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC / FSE'23).
					12pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Quantiative program analysis using a statistical rather than an analytical approach.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/FSE23-reachability.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/FSE23-reachability.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://doi.org/10.5281/zenodo.8267404">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ASE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ASE23-preciseApprox.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Precise Data-Driven Approximation for Program Analysis via Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ASE23-preciseApprox.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Nikhil Parasaram, Earl T. Barr, Sergey Mechtaev, and Marcel Böhme.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7902214">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 38th IEEE/ACM International Conference on Automated Software Engineering (ASE'23).
					12pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Marry static analysis to over-/under-approx. the valid state space and fuzzing + stats to estimate the degree of validity.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ASE23-preciseApprox.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ASE23-preciseApprox.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://doi.org/10.5281/zenodo.7902214">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE23-effectiveness.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Reachable Coverage: Estimating Saturation in Fuzzing.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE23-effectiveness.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Danushka Liyanage, Marcel Böhme, Chakkrit Tantithamthavorn, and Stephan Lipp.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7571359">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 45th International Conference on Software Engineering (ICSE'23).
					13pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Estimating the maximum achievable coverage by automatic test input generation.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE23-effectiveness.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE23-effectiveness.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://doi.org/10.5281/zenodo.7571359">🧑‍💻
				  artifact
				  </a>]
			</td></tr>
				<tr><td class="icon"></td>
			    <td class="note"><b>Note:</b> Featured in the <a href="https://www.fuzztesting.io/fuzzing-weekly/2023/cw5">Fuzzing Weekly Newsletter (CW5)</a>.</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ICSE'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ICSE23-debug-assumptions.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Evaluating the Impact of Experimental Assumptions in Automated Fault Localization.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ICSE23-debug-assumptions.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Ezekiel Soremekun, Lukas Kirschner, Marcel Böhme, and Mike Papadakis.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 ACM/IEEE 45th International Conference on Software Engineering (ICSE'23).
					13pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>Evaluating the assumptions that researchers make during debugging tool evaluations.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ICSE23-debug-assumptions.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ICSE23-debug-assumptions.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://figshare.com/articles/conference_contribution/Debugging_Assumptions_Artifact/21786743">🧑‍💻
				  artifact
				  </a>]
				  [<a href="https://debugging-assumptions.github.io/">🔗
				  website
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ISSTA'23</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<a href="papers/ISSTA23-green.pdf"><img src="img/pdf.gif"/></a>

				</td>
				<td class="pubtitle">Green Fuzzing: A Saturation-based Stopping Criterion using Vulnerability Prediction.</td>
			</tr>
			<tr><td class="icon"><a href="papers/ISSTA23-green.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Stephan Lipp, Daniel Elsner, Severin Kacianka, Alexander Pretschner, Marcel Böhme, and Sebastian Banescu.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
					<span style="font-size: 110%"><a href="https://doi.org/10.5281/zenodo.7944722">🧑‍💻</a></span>
			</td>
			<td class="venue">
				 32nd ACM/SIGSOFT International Symposium on Software Testing and Analysis (ISSTA'23).
					13pp.
			</td></tr>
				<tr><td class="icon">
				</td>
			    <td class="abstract">
				    <b>Abstract:</b>
					<i>We suggest to stop a fuzzing campaign when the coverage of potentially vulnerable code saturates.</i>
				</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
				  [<a href="papers/ISSTA23-green.pdf">
				   <img width=12px src="img/pdf.gif"/> pdf
				  </a>]

				  [<a href="papers/ISSTA23-green.bib">
				   <img width=12px src="img/bibtex.png"/> bib
				  </a>]
				  [<a href="https://doi.org/10.5281/zenodo.7944722">🧑‍💻
				  artifact
				  </a>]
				  [<a href="https://github.com/tum-i4/green-fuzzing-artifacts/tree/1.0.0"><span class="fa fa-fw fa-github"></span>
				  github
				  </a>]
			</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="60px">
			
			
			<span class="series">ESEC / FSE'23 (SRC)</span>
		</td>
		<td class="publication">
			<table>
			<tr>
				<td class="icon">
				
				<img src="img/pdf.off.gif"/>

				</td>
				<td class="pubtitle">Detecting Overfitting of Machine Learning Techniques for Automatic Vulnerability Detection.</td>
			</tr>
			<tr><td class="icon"><a href="papers/FSE23-src.bib"><img src="img/bibtex.png"/></a></td>
			<td class="authors">
				Niklas Risse.
			</td></tr>
			<!--span class="venuetype"></span-->
			<tr><td class="icon">
			</td>
			<td class="venue">
				Student Research Competition (SRC) at the 31st ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC / FSE'23 (SRC)).
					3pp.
			</td></tr>

			<tr><td class="icon"></td>
			<td class="links">
			</td></tr>
			</table>
		</td>
	</tr>
</tbody>
</table>
